.gym {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(57, 57, 57);
  background: radial-gradient(circle, rgba(57, 57, 57, 1) 0%, rgba(19, 19, 19, 1) 100%);
  padding-top: 100px;
}

.gym-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: #f5bb00;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 40px;
}

.gym-subtitle {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.gym-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 100px;
}

.gym-container-img {
  width: 100%;
  margin: 30px 0px;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 4px rgb(29, 29, 29);
  cursor: pointer;
  transition: 0.5s;
}

.gym-container-img:hover {
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .gym-container-img {
    width: 80%;
  }
}
